/* Overlay 스타일 */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* 전체 화면을 덮도록 설정 */
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 배경을 어둡게 */
  z-index: 5; /* 사이드바 뒤에 있도록 설정 */
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease, visibility 1s ease; /* 2초 동안 서서히 나타남 */
}

.overlay.open {
  opacity: 1;
  visibility: visible;
}

/* Sidebar 스타일 */
#sidebar {
  z-index: 12000000000;
  padding: 12px;
  border-radius: 15px 0 0 15px;
  background-color: #ffffff;
  height: 100%;
  width: 40%;
  right: -55%;
  top: 0;
  position: absolute;
  transition: 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#sidebar.open {
  right: 0;
  transition: 0.5s ease;
}
.sidebar-ul {
  padding: 0;
}
/* 다른 스타일들 */
.hello-text {
  text-align: center;
  white-space: pre-line;
  line-height: 1.5;
  margin-top: 60px;
}

.username {
  color: #01cdce;
  font-weight: 600;
}

.logout {
  align-self: flex-start;
  margin-left: 15px;
  font-size: 11px;
  margin-bottom: 20px;
}

.menu-item {
  text-align: center;
  margin-top: 10px;
  list-style: none;
  width: 100%;
}
